:root {
    --gradient: linear-gradient(
        90deg,
        #9506EC,
        #CF2975,
        #FF5108,
        #CF2975,
        #9506EC
    );
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf');
}

body {
	background-size: cover;
	width: 100%;
	height: 100%;

	overflow: hidden;

	background-color: rgb(15, 15, 15);
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3%;
}

#win {
	position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(25, 25, 25);

    border-radius: 25px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));

	text-align: center;
	width: 720px;
	padding-top: 150px;
	height: 550px;
	color: #eee;
	opacity: 0;
	display: none;
	transition: opacity .5s;
}

#win.showing {
	display: inline-block;
	opacity: 1;
}

.title {
	background-image: var(--gradient); 
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;

	transform: translateY(-100px);
	font-size: 30px;
	filter: drop-shadow(0px 5px 5px rgb(0, 0, 0, 0.5));
}

.titleSky {
	transform: translateY(-100px);
}

#win, input {
	font: 20px Roboto;
	color: white;
	font-weight: 400;
}

input {
	width: 250px;
	height: 40px;
	background-color: rgb(15, 15, 15);
	outline: none;
	border: none;
	border-radius: 5px;
	color: white;
	text-align: center;
	filter: drop-shadow(0px 5px 2px rgb(0, 0, 0, 0.25));
	margin: 20px;

	transform: translateY(-50px);
}

.inputtext {
	font-weight: 200;
	transform: translateY(-30px);
	text-transform: uppercase;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
	width: 100px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 5px;

	background-image: var(--gradient); 
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
	color: white;
	filter: drop-shadow(0px 5px 2px rgb(0, 0, 0, 0.25));

	font-family: Roboto;
	font-size: 15px;
	text-transform: uppercase;

	letter-spacing: 1px;
	transition: ease-out 0.2s;
}

button:hover {
	cursor: pointer;
	letter-spacing: 3px;
}